@import 'normalize.less';
.main{
	height: 1200px;
	background: #dedede;
}

.sidebar{
	position: fixed;
	width: 200px;
	height: 100%;
	top: 0;
	left: 0;
	bottom: 0;

		.sidebar-content{
		background: green;

		p{
			padding: 50px 0;
			margin: 0;
		}
	}

}
